.menu {
    list-style-type: none;
    display: flex;
    font-size: 30px;
    justify-content: space-between;
    margin: 20px;
    max-width: 1800px;
    align-items: center;
    border-radius: 5px;
}
a {
    text-decoration: none;
    color: white;
}
header {
    color: white;
    text-align: center;
    font-size: 70px;
    font-family: 'Syne Mono', monospace;
}
.cont {
    background: url(../picture/nav.png) center top / cover;
    margin: auto;
    max-width: 2000px;
}
body {
    background-image: url(../picture/bag.png);
    color: white;
    -webkit-background-size: 100%;
}
.game {
    text-align: center;
}

.name {
    font-size: 30px;
}

.requirements {
    margin: auto;
    border: 2px solid;
}

.img_game {
    list-style-type: none;
    display: flex;
    width: 200px;
    height: 100px;
}

button {
    list-style-type: none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    margin: auto;
    padding: 15px;
    width: 200px;
    color: white;
    background-color: rgba(61, 60, 60, 0.45);

}

.button_img:hover {
    background-color: #262a26; /* Green */
    color: white;
}

.logo {
    width: 130px;
    height: 50px;
}

.footer-basic {
    color:#4b4c4d;
    background-color: #08040D;

}

.footer-basic ul {
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
    display: flex;
    justify-content: space-evenly;
}

.footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
}

.footer-basic a:hover {
    opacity:0.9;
}

.copyright {
    text-align:center;
    font-size:13px;
    color:#aaa;
}